<div class="footer__col">
  <p
    class="placeholder"
    data-sly-test="${wcmmode.edit && !properties.fileReference}"
  >
    ADD FOOTER LOGO
  </p>
  <img
    class="footer__logo"
    src="${properties.fileReference}"
    data-sly-test="${properties.fileReference}"
  />
  <!--/* /etc.clientlibs/ucs-exercise-aimelive/clientlibs/clientlib-site/resources/images/basics-logo-negative.svg */-->
  <div class="footer__copy">
    ${properties.copyrightText||"Please add copyright text"}

    <!--/* © 20XX – 20XX UniCredit S.p.A. - All Rights reserved */-->
  </div>
</div>
