.loading {
  width: 20px;
  height: 20px;
  margin: 15px;
  background-size: 100%;
  border: 1px solid #1e5fbe;
  animation: rotate 1s linear infinite;
}

.loading--show {
  display: block !important;
}

.loading--hide {
  display: none !important;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
