<!-- ******************* START FOOTER COMPONENT ******************* -->
<footer class="footer ucg-icons__newPackage">
  <div class="footer__wrap container">
    <div class="footer__upper">
      <div
        data-sly-resource="${'footer-mainLinks' @ resourceType='ucs-exercise-aimelive/components/custom/footer-main-links'}"
      ></div>
      <div
        data-sly-resource="${'footer-lastLinks' @ resourceType='ucs-exercise-aimelive/components/custom/footer-last-links'}"
      ></div>
    </div>
    <div class="footer__bottom">
      <div
        data-sly-resource="${'footer-logo' @ resourceType='ucs-exercise-aimelive/components/custom/footer-logo'}"
      ></div>
      <div
        data-sly-resource="${'social-media' @ resourceType='ucs-exercise-aimelive/components/custom/socialmedia'}"
      ></div>
    </div>
  </div>
</footer>
