<!-- ******************* START FOOTER COMPONENT ******************* -->
<footer class="footer ucg-icons__newPackage">
  <div class="footer__wrap container">
    <div class="footer__upper">
      <div
        data-sly-resource="${'footer-mainLinks' @ resourceType='ucs-exercise-aimelive/components/custom/footer-main-links'}"
      ></div>
      <div
        data-sly-resource="${'footer-lastLinks' @ resourceType='ucs-exercise-aimelive/components/custom/footer-last-links'}"
      ></div>
    </div>
    <div class="footer__bottom">
      <div class="footer__col">
        <img
          class="footer__logo"
          src="/etc.clientlibs/ucs-exercise-aimelive/clientlibs/clientlib-site/resources/images/basics-logo-negative.svg"
        />
        <div class="footer__copy">
          © 20XX – 20XX UniCredit S.p.A. - All Rights reserved
        </div>
      </div>
      <div
        data-sly-resource="${'social-media' @ resourceType='ucs-exercise-aimelive/components/custom/socialmedia'}"
      ></div>
    </div>
  </div>
</footer>
