<!-- ******************* START NEW HEADER COMPONENT ******************* -->
<header
  class="header ucg-icons__newPackage"
  data-sly-use.model="com.aimelive.ucs.core.models.HeaderModel"
>
  <nav class="navbar container-fixed">
    <div class="navbar__zero-level">
      <a
        class="navbar__logo"
        href="${model.rootPath @ context='uri'}${model.rootPath ? '.html' : '#'}"
      >
        <img
          src="https://www.unicreditgroup.eu/etc/designs/unicreditgroupn/img/static/logoHiRes.png"
          alt="unicredit-logo"
          class="navbar__logo"
        />
      </a>
      <div class="navbar__links">
        <p
          class="placeholder"
          data-sly-test="${wcmmode.edit && model.navLinks.size==0}"
        >
          ADD NAVBAR LINKS
        </p>
        <sly
          data-sly-test="${model.navLinks}"
          data-sly-list.navLinkItem="${model.navLinks}"
        >
          <a
            class="navbar__link ${navLinkItem.elementClass}"
            href="${navLinkItem.linkUrl}"
            target="${navLinkItem.target}"
          >
            <div class="icon ${navLinkItem.iconClassName}"></div>
            <p class="text--label">${navLinkItem.label}</p>
          </a>
        </sly>
      </div>
      <a class="navbar__entry-point" href="#">
        <div class="icon icon-online-Banking_A"></div>
        <div class="entry-point__text text--label">ONLINE BANKING</div>
      </a>
    </div>

    <div class="navbar__hamburger">
      <div class="navbar__first-level">
        <div class="navbar__back text--label">
          <div class="icon icon-back"></div>
          <span>BACK</span>
        </div>
        <div class="first-level__items">
          <p
            class="placeholder"
            data-sly-test="${wcmmode.edit && !model.isConfigured}"
          >
            PLEASE CONFIGURE HEADER ROOT PATH
          </p>
          <sly data-sly-list.item="${model.menuItems}">
            <div
              data-nav-1="${item.name}"
              class="first-level__item ${item.name}"
              href="#"
            >
              <span class="item__text text--label">${item.title}</span>
              <span class="icon icon-forth"></span></div
          ></sly>
        </div>
        <div class="navbar__languages">
          <div class="languages__selector">
            <p class="selector__text text--label">ITA</p>
            <span class="icon icon-down"></span>
            <div class="selector__items">
              <a
                class="selector__item selector__item--active text--label"
                data-lang="ITA"
                data-lang-dk="ITALIANO"
                data-lang-m="IT"
                href="#"
                >ITALIANO</a
              >
              <a
                class="selector__item text--label"
                data-lang="ENG"
                href="#"
                data-lang-dk="ENGLISH"
                data-lang-m="EN"
                >ENGLISH</a
              >
              <a
                class="selector__item selector__item--disabled text--label"
                data-lang="DE"
                data-lang-dk="DEUTSCHE"
                data-lang-m="DE"
                href="#"
                >DEUTSCHE</a
              >
            </div>
          </div>
        </div>
        <div class="navbar__second-level">
          <sly data-sly-list.item="${model.menuItems}">
            <div
              class="second-level__items ${item.name}"
              data-nav-2="${item.name}"
            >
              <div class="container">
                <a
                  class="second-level__item--title text--paragraph-title"
                  href="${item.path}.html"
                >
                  ${item.title}
                </a>
                <sly data-sly-list.subItem="${item.subItems}">
                  <a
                    class="second-level__item text--body"
                    href="${subItem.path}.html"
                    >${subItem.title}</a
                  >
                </sly>
              </div>
            </div>
          </sly>
        </div>
      </div>
    </div>
  </nav>
  <div class="hamburger">
    <div class="icon"></div>
  </div>
  <!-- ******************* START SEARCH OVERLAY  COMPONENT ******************* -->
  <aside class="ucg-search">
    <div class="ucg-search__wrap">
      <span class="ucg-search--close icon icon-close"></span>
      <div class="panel ucg_search">
        <div class="container">
          <input
            class="findAsYouType"
            type="text"
            name="querySearch"
            data-resultspage="/content/unicreditgroup-eu/it/search.html"
            placeholder="Typing"
            data-threshold="3"
            data-lang="it"
          />
          <span class="icon icon-search"></span>
        </div>
        <div class="searchSuggestion">
          <div class="autocomplete-suggestions">
            <div class="autocomplete-suggestion text--body" data-index="0">
              Typing
            </div>
            <div class="autocomplete-suggestion text--body" data-index="0">
              Typing <strong>suggestion two</strong>
            </div>
            <div class="autocomplete-suggestion text--body" data-index="1">
              Typing <strong>suggestion three</strong>
            </div>
            <div class="autocomplete-suggestion text--body" data-index="2">
              Typing <strong>suggestion four</strong>
            </div>
            <div class="autocomplete-suggestion text--body" data-index="3">
              Typing <strong>suggestion five</strong>
            </div>
            <div class="autocomplete-suggestion text--body" data-index="4">
              Typing <strong>suggestion six</strong>
            </div>
          </div>
        </div>
        <button class="buttonLast button button--arrow">MORE DETAILS</button>
      </div>
    </div>
  </aside>
  <!-- ******************* END OF SEARCH OVERLAY COMPONENT ******************* -->
</header>

<!-- ******************* END NEW HEADER COMPONENT ******************* -->
