<!--/* <div class="footer__lastLink">
  <a href="#" class="footer__link">General Company Info</a>
  <a href="#" class="footer__link">Disclaimer</a>
  <a href="#" class="footer__link">Privacy</a>
  <a href="#" class="footer__link">SDIR and Storage</a>
  <a href="#" class="footer__link">AML and Patriot ACT</a>
  <a href="#" class="footer__link">Cookies</a>
  <a href="#" class="footer__link">PSD2 - Open Banking</a>
  <a href="#" class="footer__link">Alerts</a>
</div> */-->
<sly data-sly-use.model="com.aimelive.ucs.core.models.FooterLinksModel">
  <div class="footer__lastLink">
    <p
      data-sly-test="${wcmmode.edit && model.footerLinks.size==0}"
      class="footer__link"
    >
      NO FOOTER LAST LINKS ADDED
    </p>
    <sly data-sly-list.item="${model.footerLinks}">
      <a class="footer__link" href="${item.url}.html" target="${item.target}"
        >${item.label}</a
      >
    </sly>
    <!--/* <a href="#" class="footer__link">Contacts</a>
    <a href="#" class="footer__link">Glossary</a>
    <a href="#" class="footer__link">System Requirements</a>
    <a href="#" class="footer__link">Site Map</a>
    <a href="#" class="footer__link">FAQ</a> */-->
  </div>
</sly>
